In [4]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')

In [5]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')
driver=webdriver.Chrome('chromedriver.exe')

###### Q.1.Scrape the details of most viewed videos on YouTube from Wikipedia.
    Url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos" You need to find following details:
            
(A)Rank
(B)Name
(C)Artist
(D)Upload date
(E)Views

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [55]:
#Rank
Rank= driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/thead/tr/th[1]/abbr')
Ranks=[]
for i in Rank:
    Ranks.append(i.text)

In [56]:
Ranks

['No.']

In [53]:
#Name
Name= driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/thead/tr/th[2]')
Names=[]
for i in Name:
    Names.append(i.text)

In [54]:
Names

['Video name']

In [51]:
#Artist
Artist= driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/thead/tr/th[3]')
Artists=[]
for i in Artist:
    Artists.append(i.text)

In [52]:
Artists

['Uploader']

In [49]:
#Upload_date
Upload_date= driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/thead/tr/th[1]')
Upload_dates=[]
for i in Upload_date:
    Upload_dates.append(i.text)

In [50]:
Upload_dates

['No.']

In [57]:
#View
View= driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[1]/td[4]')
Views=[]
for i in View:
    Views.append(i.text)

In [58]:
 Views

['10.30']

In [41]:
data = list(zip(Upload_dates))

import pandas as pd
df = pd.DataFrame(data,['Rank','Name','Upload_date','View'])

df.head(10)

                                                             0
Rank         Top 30 most-viewed YouTube videos[2]\nNo. Vide...
Name         Top 30 most-viewed YouTube videos[2]\nNo. Vide...
Upload_date  Top 30 most-viewed YouTube videos[2]\nNo. Vide...
View         Top 30 most-viewed YouTube videos[2]\nNo. Vide...

##### Q. 8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
(A)Book name
(B)Author name
(C)Volumes sold
(D)Publisher
(E)Genre

In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')
driver=webdriver.Chrome('chromedriver.exe')

In [5]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [17]:
#Book_name
Book_name= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[2]')
Book_names=[]
for i in Book_name:
    Book_names.append(i.text)

In [18]:
Book_names

['Da Vinci Code,The']

In [26]:
#Author_name
Author_name= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[3]')
Author_names=[]
for i in Author_name:
    Author_names.append(i.text)

In [27]:
Author_names

['Brown, Dan']

In [28]:
#Volumes_sold
Volumes_sold= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[4]')
Volumes_solds=[]
for i in Volumes_sold:
    Volumes_solds.append(i.text)

In [29]:
Volumes_sold

In [30]:
#Publisher
Publisher= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[5]')
Publishers=[]
for i in Publisher:
    Publishers.append(i.text)

In [31]:
Publishers

['Transworld']

In [32]:
#Genre
Genre= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]/td[6]')
Genres=[]
for i in Genre:
    Genres.append(i.text)

In [33]:
Genres

['Crime, Thriller & Adventure']