###### Q.(1) Python program to scrape data for “Data Analyst” Job position in “Bangalore” location
    a.scrape the data from www.naukri.com for the first 10 jobs results.
    b.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
      location” field.
    c.create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\new folder\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\new folder\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\new folder\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\new folder\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\new folder\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\new folder\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\new folder\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\new folder\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\new folder\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\new folder\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\bawla singh.desktop-kt1pi9d\appdata\roaming\python\python38\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.13.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\new folder\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
# first connect to web driver
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [6]:
driver=webdriver.Chrome('chromedriver.exe')

In [7]:
url='https://www.naukri.com/'
driver.get(url)

In [8]:
# finding web element for search job bar using class name
job=driver.find_element_by_class_name('suggestor-input')
job

In [9]:
# search_job=driver.find_element_by_xpath('suggestor-input')
# search_job

In [10]:
job.send_keys('Data Analyst')

In [11]:
locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
locn

In [12]:
#finding web element for job location bar
locn.send_keys('Bangalore')

In [13]:
# clicking using class name function
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [16]:
search_btn.click()

In [17]:
# Here extract all web elements having job_titles:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [18]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="2c2163b9-80f2-47db-a189-fd598571e4b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="f7752014-648f-488f-91ff-7d78b6dd7f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="af8326bd-3070-4eab-b6d4-9b2e154ee80a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="b685229c-dd2c-42be-bc8d-f0c46de8246c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="6d7d9fc1-ab85-4468-b6f7-d8cd3fd0d039")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7fbd1cdf-2130-4176-b4e6-ed30da450e2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="1bd65ddb-8078-4a35-ac39-871f28165b67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="8f7e5b0f-4616-44af-970e-f58c615e1ef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c5ff650a-bcc8-4a54-9deb-bcc91586da12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="d534d144-f411-42f7-a952-e8be3e44dc76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="726d7619-9da0-4437-9e1c-bead36c570bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="da356a76-c9ba-430b-aa7f-434488d64749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c3b94e59-d25a-43c9-ab91-8493186e5ae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="68259cb2-785c-4e3b-8c43-2aac42409a0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="dc8eaa83-da2e-4b36-87f1-9a73571961fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="b9e6785c-95e1-4ca4-8c0f-d4bb5d21a661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7186bdbc-a66a-42e8-b68d-9355be9f0fd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="13c1bae0-c1f1-4d71-b8cf-9b32d0dc850e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3e03d686-21f3-4598-b913-e4b8a5b6bbb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="090a1973-7d5e-4856-8e57-324c8d70220a")>]

In [19]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [20]:
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Business Analyst (Data Analyst role)',
 'Senior Data Analyst',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Senior Data Analyst',
 'Senior Analyst, Data Engineering',
 'Senior Analyst, Data Engineering',
 'Business Data Analyst - MIS & Reporting',
 'Statistician, Data Analyst, SPSS, M.Sc Statistics (0 To 3 years)',
 'Analyst - Data Intelligence Group',
 'Data Analyst',
 'Business Analyst (Data Analyst)',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Data Analyst',
 'Senior Analyst, Data Engineering',
 'Senior Analyst Data Engineering',
 'Data Analyst']

In [21]:
# Here extract all web elements having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [22]:
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="42fd1463-544d-4d56-92f4-d7013b29bb07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="1ee988dd-4ff9-4017-b7c8-b294513a3201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="28d1029e-6c84-4a47-b075-d2a45bf6f0f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="0bd07633-6040-4540-a12c-f6d4954fdf23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7db07dce-9b18-48bb-a9bc-08a72d83f018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3da71cd3-9165-4b50-a8ca-bb22630ff78a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="711cba3e-3c26-47a2-af1a-5bb3367d5114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="70f76f22-af81-419d-9063-8e80e9cc987f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="15cc4902-58c3-46c6-a7f4-686050947567")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="5c05492d-b964-415f-a799-772bbb438526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="095a1745-a6ba-469d-9b51-7b0888d955d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c8605d60-5b77-4b86-b114-5099a5edca9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a10595c3-6765-4aef-b304-2573caec7b66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c112634f-2844-4874-91c2-7920592627a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="5436033f-060a-4940-928c-0ac3852034b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a3985d03-2d7a-4511-9bac-9518a92a6ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="10cfdade-c2af-4b7f-80fd-76eb72fbcf6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a193b094-9de1-4a78-939d-0b9f36884e35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a89b0042-b38d-490d-8e72-c40334a4476c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="337f18cf-dabd-4bea-a19a-25b4eaf8d1cf")>]

In [23]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [24]:
company_names

['Flipkart',
 'Flipkart',
 'Flipkart',
 'Xpheno',
 'Liventus Technology Services',
 'Shell',
 'Flipkart',
 'Conviva',
 'Dell',
 'Dell',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'The HR Bulb',
 'TresVista Financial',
 'Shell',
 'Genpact',
 'Genpact',
 'McAfee',
 'Dell',
 'Dell',
 'Vedantu Innovations']

In [25]:
# Here extract all web elements having experience
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(exp_tags)

20

In [26]:
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7b3ca9e2-f210-4acd-9b19-db45f8d4ab57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="eb18fa3c-2d6a-44f7-84f1-b7591f130a23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="f8bf3fdc-7b4a-48cb-90ad-ee1cdeff4e52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="1ca4e962-868d-42b1-9764-1d9acb207833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="b11956c6-d120-4ffe-913a-7cd6575b6516")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="44b565e9-d79d-44ea-ae66-bf4891204bfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7eb8c490-02c3-4087-b545-e0c8fdb8a6c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c2fd054f-d11e-405b-9633-f26b88de5cfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="764afa27-ab8e-4f5c-9cfa-69639418b140")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="0acde1f1-de68-4457-b0bc-f501f699c6f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="df0c1df8-f4a0-4282-9c83-dd3d5059ef8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="eca14a25-2a79-4b09-af4b-37de04163adb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="7428ffbb-e09d-4163-8c36-e7e18815e58a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="56ef00ab-ec76-4e36-96b0-f53aa58dc811")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a5fdce87-c7e9-4bd7-81d2-439f4aa16afb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="4544a720-290d-4604-b5e3-358d15b1288d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="bf46367e-eb4b-4e89-94dd-d5ba41421c44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="e05c70dc-c707-45b8-88c5-1a0b02d006b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="f6f297ce-7e85-4fd1-866a-ba6ce2e5a8e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="d337be73-4178-41d6-ad09-3b6af31c6968")>]

In [27]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [28]:
experience

['1-6 Yrs',
 '2-4 Yrs',
 '2-3 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '6-10 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '7-12 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '1-5 Yrs']

In [29]:
# Here extract all web elements having locations
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [30]:
locn_tags

[<selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="bda69d5e-80d1-4d49-9c0e-2ee9e763b807")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="af503733-434e-42d0-a4f0-cb860316ab3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="e0b200c6-880e-4ed5-a07e-40f74e464a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="c009ca57-2cf7-4e3f-bee0-87d4301555f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="59d666cf-a691-4b18-9351-aa4c8f85ff5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="b20b759a-973b-410c-9481-f613fc3db690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="0d3f9f1c-6f41-4481-91cf-2dc1804883fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3ed6fec8-480e-4cb7-9050-f8c7860254fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="ddd6887e-bd3c-46e7-a803-bc11b8a8070e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="49a4cea0-85e2-4c92-95df-27a99d640de8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="dc43b3b0-130f-4ea3-a926-8868ea85ae49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="ecd9a33a-22bc-4e74-bd07-3f6de65a2a3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="4ecfb3a9-23df-4a3e-ab01-eb70f6ff9d6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="be430497-2b72-4c2a-9e4a-e7eba1629ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="1f473cc8-c0f7-40f7-bb18-a4a9c3d24a7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="d4075b65-5577-4511-8acc-1c617cef17ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="e7c6134c-21f6-40e8-8277-0c589987bbbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="6010263b-be86-4c32-87c6-4e2313bd723b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="11f934f3-2d09-498a-b5b0-6bca20df4020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="ad40c5c9-8c54-455e-8359-a38a2ee1e571")>]

In [31]:
locations=[]

for i in locn_tags:
    locations.append(i.text)
len(locations)

20

In [32]:
locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi(Paschim Vihar +1), Bangalore/Bengaluru(Whitefield +2)',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [33]:
# Here extract all web elements having salary
sal=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [34]:
sal

[<selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="1a2735a9-a462-4219-9ea4-d96743f80b93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="dee74d4e-bbe4-4a70-ac80-8f85f3a10835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3019d1ae-8c79-4358-a9c8-a64cbca35f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="30b3425b-89a3-4eae-ade1-00a1f18641f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3c6a0f00-d27e-44a2-8c2c-27e34168fcd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="08d96f53-6192-42cf-93ed-20292035d00f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3cc87e2f-cb7a-44b3-87e2-b0bc3767483f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="00aff000-39c2-4d1d-a95d-c0d918cf137c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="301141e8-6c4f-4b8e-ab97-b280ec3e6148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="253bf06b-8aeb-4c3a-9efd-60ba7f8aaa75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="b11721f7-91a9-4d89-8581-b40088ae95cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="dd7a81b2-0b21-440c-8a06-dfcbc4ab970b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="4cc76a3b-e4ec-48ca-a462-9473ef23c695")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="e250e1b5-5da4-42b7-b930-921827882ab1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="a0582de0-b968-4c39-9c90-045391577ee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="e152b6df-9def-4cfc-b651-ad3e01e03cac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="52cf0665-0b95-456d-baa8-2321e1205ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="f0a3a428-5f63-4184-af62-b249eea82af5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="f46ab611-e9de-4454-905f-6b0cea9e4c1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04a67b1f5fe95d627315bfbb91fafbba", element="3fc2cfb9-53c7-4216-bf29-a14f51a28ef2")>]

In [35]:
salary=[]

for i in sal:
    salary.append(i.text)
len(salary)

20

In [36]:
salary

['5,00,000 - 10,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,75,000 - 4,00,000 PA. (Including Variable: 20.0%)',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '4,00,000 - 8,00,000 PA.']

In [37]:
# Finally create a dataframe of the scraped data
len(job_titles),len(company_names),len(experience),len(locations),len(salary)

(20, 20, 20, 20, 20)

In [38]:
jobs=pd.DataFrame()
jobs['job_titles']=job_titles
jobs['company_names']=company_names
jobs['experience']=experience
jobs['locations']=locations
jobs['salary']=salary
jobs

,job_titles,company_names,experience,locations,salary
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru,"5,00,000 - 10,00,000 PA."
1,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru,Not disclosed
2,Senior Data Analyst,Flipkart,2-3 Yrs,Bangalore/Bengaluru,Not disclosed
3,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed
4,Senior Data Analyst,Liventus Technology Services,5-8 Yrs,Remote,"10,00,000 - 20,00,000 PA."
5,Data Analyst,Shell,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
6,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
7,Senior Data Analyst,Conviva,6-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,"Senior Analyst, Data Engineering",Dell,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
9,"Senior Analyst, Data Engineering",Dell,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
10,Business Data Analyst - MIS & Reporting,SHAND PIPE INDUSTRY PVT.LTD,2-6 Yrs,Bangalore/Bengaluru,Not disclosed
11,"Statistician, Data Analyst, SPSS, M.Sc Statist...",The HR Bulb,0-3 Yrs,"New Delhi(Paschim Vihar +1), Bangalore/Bengalu...","2,75,000 - 4,00,000 PA. (Including Variable: 2..."
12,Analyst - Data Intelligence Group,TresVista Financial,0-1 Yrs,"Mumbai, Pune, Bangalore/Bengaluru",Not disclosed
13,Data Analyst,Shell,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
14,Business Analyst (Data Analyst),Genpact,6-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed
15,Business Analyst/ Data Analyst- Capital Market...,Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru",Not disclosed
16,Data Analyst,McAfee,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
17,"Senior Analyst, Data Engineering",Dell,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
18,Senior Analyst Data Engineering,Dell,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
19,Data Analyst,Vedantu Innovations,1-5 Yrs,Bangalore/Bengaluru,"4,00,000 - 8,00,000 PA."

In [39]:
jobs.head(10)

,job_titles,company_names,experience,locations,salary
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru,"5,00,000 - 10,00,000 PA."
1,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru,Not disclosed
2,Senior Data Analyst,Flipkart,2-3 Yrs,Bangalore/Bengaluru,Not disclosed
3,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed
4,Senior Data Analyst,Liventus Technology Services,5-8 Yrs,Remote,"10,00,000 - 20,00,000 PA."
5,Data Analyst,Shell,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
6,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
7,Senior Data Analyst,Conviva,6-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,"Senior Analyst, Data Engineering",Dell,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
9,"Senior Analyst, Data Engineering",Dell,2-5 Yrs,Bangalore/Bengaluru,Not disclosed

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

    a.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
      location” field.
    b.Then scrape the data for the first 10 jobs results you get.
    c.Finally create a dataframe of the scraped data.

In [40]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [41]:
# first connect to web driver
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [42]:
driver=webdriver.Chrome('chromedriver.exe')

In [43]:
url='https://www.naukri.com/'
driver.get(url)

In [44]:
# finding web element for search job bar using class name
job=driver.find_element_by_class_name('suggestor-input')
job

In [45]:
job.send_keys('Data Scientist')

In [46]:
locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
locn

In [47]:
#finding web element for job location bar
locn.send_keys('Bangalore')

In [48]:
# clicking using class name function
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [50]:
search_btn.click()

In [52]:
# Here extract all web elements having job_titles:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [53]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="226c52d6-54d8-4a14-a4c1-34f31584943a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="617c78e8-5194-444a-b327-06af64a8a753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="7bd33599-fafc-4507-8fb7-fa72c47c350f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e2cbcffc-4fbb-47dc-9d49-0a3aa39aec73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="92b34139-0789-461a-916f-59a207187bba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="b55b1ce6-682b-4c70-a0cd-0b19dbc7caba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="3872c1d6-de27-49c7-ac65-21a19361b177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="004519cb-c3b5-4ddb-b1a6-eb1965ceab71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="fc6311a1-55a1-4be3-81a0-19f7d4826b74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="1f629b0b-e7f1-4c33-b8d1-24d7a8a275eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="589744d6-4f63-40ea-86b5-492b77b8a5e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="6561a423-6f38-4e86-baa2-b448ceb41866")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="65a8612b-e866-45d3-8ff1-d024ce0c8f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="9b7813f1-ede2-452d-b244-a7b6b6279777")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="78a79181-c7b5-4a4b-b089-f184936371b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="8efcb2ae-5628-4dd2-95ab-11f52501666e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="8f904d13-ff8c-49a9-9261-4445a8dc526c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="9a8eb7cd-dd55-4fa2-a473-d7a9829da463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e75288ad-604a-4bf0-91ae-4bccf815a1b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e2d59192-0991-4d40-8baf-2c2f18d45d19")>]

In [54]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [55]:
job_titles

['Data Scientist / Analyst',
 'Senior Risk Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Global Tax Automation & Operations / Data Scientist Advisor',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist - Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior - Data Scientist',
 'Sr Applied Data Scientist',
 'Data Scientist Openings with AT&T',
 'Lead Data Scientist required For CU Rise Analytics',
 'Senior Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Lead Data Scientist',
 'Staff Data Scientist',
 'Data Scientist']

In [56]:
# Here extract all web elements having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [57]:
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ca1c7f1f-6296-412e-bb7b-b4fd1aab264d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="6ea17e88-3e2e-4e85-8015-cbeb3f000d10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="946af006-c83d-48c1-93a9-9f8b775fbe73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="480fa0e6-624e-411c-98bb-a5d7bc6a9674")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="0266a15b-0f6d-4aa3-b0d4-254ff4052d14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e1d63d30-7a17-4937-abac-6c42c140ad19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="18ffe66b-93c9-479c-bb82-3aaca93acf94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="b36d599b-2f48-4c9e-a344-9e2c74683704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="95e3057b-bc8e-4d78-88c8-60948f873cf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="33047db2-5a46-4af3-b0d4-772bf92271cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="33e0744e-e7e7-4ebb-9373-f84d6945c5e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="1e1f4f0b-7dc4-4dd6-ad53-7f87db5e68ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="17b0db8a-f238-4ec7-8999-c2ae883683e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ca453c6a-27e4-431f-8bc9-9a518bcad31b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="a709e526-2fa9-4bf8-ac46-a306c1ab82a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="99fdfc51-ecc5-4258-b266-4a1241bcefb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="c04223a0-efd7-4b60-ae8b-a1315834d053")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="3204c949-1b01-4ddf-a6e5-1f3ab99466e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e3af715a-9978-4065-8576-cbb60d720b6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="a5b93644-38d1-465a-af8c-cd3ffb26af05")>]

In [58]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [59]:
company_names

['Talentify',
 'GSK India',
 'IBM',
 'IBM',
 'Dell',
 'IBM',
 'IBM',
 'IBM',
 'Siemens',
 'Walmart',
 'Spiceworks',
 'AT and T Global Business Services India P. Ltd.',
 'Tesco Bengaluru',
 'AT&T',
 'CURise Analytics Pvt. Ltd. (A Trellance Company)',
 'Inflexon Point',
 'Wipro',
 'Societe Generale',
 'Walmart',
 'Kinara Financial Private Limited']

In [60]:
# Here extract all web elements having experience
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(exp_tags)

20

In [61]:
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="b0007d3e-c52c-4c64-a076-0c9a7833e671")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="876b9b55-58c7-47cb-bf35-28bed51a56f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="f0fd4e7d-6a9c-4a32-9f5e-82a33d7c71ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="738f7140-e36d-441c-b638-b2aabd25b3fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="aa39f560-9246-4dc0-a3b2-111d9df004c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="a2aa6f16-f2ec-4ac1-90f5-7e5a270fdd93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="efece8db-1de1-47ce-8e15-dcd9101d7b3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="31d43709-333c-4d37-a84f-a4fdb435b536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="d07b7960-a951-4ff5-a3e7-eda6e9e8b2d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="29af98da-66c7-4128-acff-b5f85654db02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ba3becd1-71b3-4ed0-86be-2bc62e192c4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="85ed0dcd-11d5-4cf8-b479-70c07b90426e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ec53ad7c-6ccb-4f2e-9922-2a7e96d15f3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="13a6f473-5b24-4372-8ff9-f51056c27112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="1efc5619-e271-48a9-9ff9-feba3ce16e0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="8d281d26-bca3-4489-85c8-d1ed96cbc374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="aade4547-bdc0-4fb7-a53d-477ae8747055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e9a10119-c39a-4d0d-84e6-dc7b587efbb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="19fc87f7-093d-4446-8200-47c54bf8e40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e3ddac6e-35cc-49fc-b68e-83384d2fd6ee")>]

In [62]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [63]:
experience

['0-1 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-7 Yrs',
 '3-4 Yrs',
 '12-15 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '5-9 Yrs',
 '5-9 Yrs',
 '8-10 Yrs',
 '3-6 Yrs',
 '10-15 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-8 Yrs']

In [64]:
# Here extract all web elements having locations
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [65]:
locn_tags

[<selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="34755b17-1fd3-481e-8b00-35934d3dbfbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="b799c7f9-4a52-4e42-8338-7ec9e59c0f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="2c7595b8-acaa-4eb4-835e-341fa89ace00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e04ac657-88a4-40db-a388-a20115f25fed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="7949cd95-0173-4548-93f1-d92de6539233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="b2a262e0-250d-4400-92d1-f76d87c3760d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="cd96e499-22c6-44be-aff3-6244051cc235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="9f31dff9-4191-4a0f-9fa7-7ac6a64e88dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="fa15160d-c0a5-4fdb-947b-37f72386c9a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="d44ce35c-6094-471e-befc-b5a2642c4441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ff58ce23-a3e2-4595-952f-ef54150164dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="58b4d715-e56f-4bdf-abb5-8edce7090a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="954be69b-3aeb-4d13-8e03-710f72bd8a1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="cc0e1493-5c9e-4f19-b3b2-71ef1c0e86c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="89992a84-316d-4c8a-9f7f-6619959656a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="4d4099ae-5a1c-4b78-ba5a-df946bd129fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="333750d1-9fb1-43e4-baee-757cbb1e5621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="3f1f2a19-07f4-40cc-8ad4-cbded0c9e7dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="13c344ca-df61-439b-b631-1fa707a917f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="ac8b6f8d-ff68-4034-8cb9-d377c2d48e72")>]

In [66]:
locations=[]

for i in locn_tags:
    locations.append(i.text)
len(locations)

20

In [67]:
locations

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [68]:
# Here extract all web elements having salary
sal=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [69]:
sal

[<selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="6b757f65-a8aa-44c6-bdbf-733c3d74dc9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="943b37f9-a28a-483c-9101-e1ea8fa472b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="f1baad9a-4fbe-44f0-8eb2-2ee45983eddf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="8bcc1a8e-de48-466d-b6bd-f24d8518419c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="fe795896-9c1a-430f-a3f9-3f24207bee58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="20be6b1d-4edd-44ef-b875-96d3044c430b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="52c624d4-6b36-4dd5-ab72-9e685f817a92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="6337ebc0-d8a8-4cab-a70e-a6f836a6d97f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="1c0095a0-4c42-46c4-8632-3a2cd7c512f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="60923bce-608c-47f7-8d7d-bfb95e24333b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="168758bb-1b6b-407a-be4e-881029c18fa4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="f959cd9f-8360-4c35-890e-0c0e1b711fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="f22d3287-eeba-4a44-a3c7-c9fa9b8e69b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="e2a57d73-fda9-4b81-ba0c-7caa78979468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="0af1369d-ed43-4aa6-8b4a-8b45de1636ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="00f21f84-c339-41d9-914f-9b6ef80b74d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="c30022dd-690f-4dd9-a3f0-b298415d276b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="c4712db0-1fe1-4ccc-865e-29da9ad1ad3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="5e724f31-b429-412c-a119-f992dc590218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="06cc8a6302261622a893393474f62040", element="776719d5-b2f1-41f3-a0d2-5a4e47514beb")>]

In [70]:
salary=[]

for i in sal:
    salary.append(i.text)
len(salary)

20

In [71]:
salary

['65,00,000 - 1 Cr and above PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [72]:
# Finally create a dataframe of the scraped data
len(job_titles),len(company_names),len(experience),len(locations),len(salary)

(20, 20, 20, 20, 20)

In [73]:
jobs=pd.DataFrame()
jobs['job_titles']=job_titles
jobs['company_names']=company_names
jobs['experience']=experience
jobs['locations']=locations
jobs['salary']=salary
jobs.head(10)

,job_titles,company_names,experience,locations,salary
0,Data Scientist / Analyst,Talentify,0-1 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...","65,00,000 - 1 Cr and above PA."
1,Senior Risk Data Scientist,GSK India,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
2,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
3,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
4,Global Tax Automation & Operations / Data Scie...,Dell,5-7 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Scientist,IBM,3-4 Yrs,Bangalore/Bengaluru,Not disclosed
6,Data Scientist: Artificial Intelligence,IBM,12-15 Yrs,Bangalore/Bengaluru,Not disclosed
7,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
8,Senior Data Scientist - Advanced Analytics,Siemens,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
9,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru,Not disclosed

#### Q3:In this question you have to scrape data using the filters available on the webpage as shown below:
    a.scrape data for “Data Scientist” designation for first 10 job results
    b.scrape the job-title, job-location, company name, experience required 
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [105]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [106]:
# first connect to web driver
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [107]:
driver=webdriver.Chrome('chromedriver.exe')

In [108]:
url='https://www.naukri.com/'
driver.get(url)

In [109]:
# finding web element for search job bar using class name
job=driver.find_element_by_class_name('suggestor-input')
job

In [110]:
job.send_keys('Data Scientist')

In [111]:
# finding web element for search location bar using class name
locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
locn

In [112]:
#finding web element for job location bar
locn.send_keys('Delhi/NCR')

In [113]:
# clicking using class name function clicking for search bar
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [114]:
search_btn.click()

In [115]:
salary_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

In [116]:
salary_check.click()

In [236]:
# Here extract all web elements having job_titles:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [237]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [238]:
job_titles

['Data Scientist II',
 'Opening For Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Data Scientist (freelance)',
 'Urgent Requirement || Data Scientist || Noida',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [239]:
# Here extract all web elements having locations
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [240]:
locations=[]

for i in locn_tags:
    locations.append(i.text)
len(locations)

20

In [241]:
locations

['Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'New Delhi',
 'Delhi / NCR',
 'Noida, New Delhi, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Delhi / NCR',
 'Delhi',
 'New Delhi',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi',
 'Delhi']

In [242]:
# Here extract all web elements having experience
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(exp_tags)

20

In [243]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [244]:
experience

['2-6 Yrs',
 '1-5 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs']

In [245]:
# Here extract all web elements having salary
sal=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [246]:
salary=[]

for i in sal:
    salary.append(i.text)
len(salary)

20

In [247]:
salary

['5,50,000 - 15,00,000 PA.',
 '3,00,000 - 7,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,25,000 - 4,75,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '4,75,000 - 9,75,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [248]:
# Here extract all web elements having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [249]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [250]:
company_names

['Chegg',
 'Care Health Insurance',
 'Stefanini',
 'Tide Software',
 'NISG (National Institute for Smart Government)',
 'GABA Consultancy services',
 'Smart work Consultants',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'NebulARC Technologies Private Limited',
 'Schlesinger Group',
 '2Coms',
 'HCL',
 'iNICU',
 'Boston Consulting Group',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging']

In [251]:
# Finally create a dataframe of the scraped data
len(job_titles),len(company_names),len(experience),len(locations),len(salary)

(20, 20, 20, 20, 20)

In [252]:
jobs=pd.DataFrame()
jobs['job_titles']=job_titles
jobs['company_names']=company_names
jobs['experience']=experience
jobs['locations']=locations
jobs['salary']=salary
jobs.head(10)

,job_titles,company_names,experience,locations,salary
0,Data Scientist II,Chegg,2-6 Yrs,Delhi / NCR,"5,50,000 - 15,00,000 PA."
1,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Gurgaon/Gurugram,"3,00,000 - 7,00,000 PA."
2,Data Scientist,Stefanini,3-8 Yrs,Noida,Not disclosed
3,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,1-6 Yrs,New Delhi,Not disclosed
4,Junior Data Scientist - Goods & Service Tax Ne...,NISG (National Institute for Smart Government),3-8 Yrs,Delhi / NCR,Not disclosed
5,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR","2,25,000 - 4,75,000 PA."
6,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,1-4 Yrs,Noida,Not disclosed
7,Data Scientist,Zekardo Automotive Solutions,5-8 Yrs,Gurgaon/Gurugram\n(WFH during Covid),Not disclosed
8,Data Scientist,Team Computers Pvt Ltd,2-6 Yrs,New Delhi,Not disclosed
9,Data Scientist (ML AI Engineer) / InfoObjects ...,INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED,3-7 Yrs,"Indore, Jaipur, Delhi / NCR\n(WFH during Covid)",Not disclosed

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
        1.Brand
        2.Product Description
        3.Price

In [79]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [80]:
# first connect to web driver
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [81]:
driver=webdriver.Chrome('chromedriver.exe')

In [82]:
url='https://www.flipkart.com/'
driver.get(url)

In [83]:
# finding web element for search Brand bar using class name
Brand=driver.find_element_by_class_name('_3704LK')
Brand

In [84]:
Brand.send_keys('sunglasses')

In [85]:
# clicking using class name function clicking for search bar
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn

In [86]:
search_btn.click()

In [88]:
# clicking using class name function clicking for nextpage:
nextpage_btn=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [89]:
nextpage_btn.click()

In [22]:
# Here extract all web elements having Brand_name:
Brand_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand_name)

40

In [24]:
Brand_names=[]

for i in Brand_name:
    Brand_names.append(i.text)
len(Brand_names)

40

In [25]:
Brand_names

['Silver Kartz',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'PIRASO',
 'GANSTA',
 'SRPM',
 'New Specs',
 'SUNBEE',
 'Singco India',
 'Elligator',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PHENOMENAL',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'ROYAL SON',
 'Elligator',
 'PHENOMENAL',
 'PHENOMENAL',
 'ROYAL SON',
 'Elligator',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'Singco India',
 'maxa',
 'kingsunglasses',
 'ROYAL SON']

In [26]:
# Here extract all web elements having Product Description:
Product_Descri=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Product_Descri)

40

In [28]:
Product_Descriptions = []

for i in Product_Descri:
    Product_Descriptions.append(i.text)
len(Product_Descriptions)

40

In [29]:
Product_Descriptions

['UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...']

In [30]:
# Here extract all web elements having price :
Brand_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(Brand_price)

40

In [32]:
Prices=[]

for i in Brand_price:
    Prices.append(i.text)
len(Prices)

40

In [33]:
Prices

['₹348',
 '₹349',
 '₹248',
 '₹639',
 '₹165',
 '₹243',
 '₹200',
 '₹264',
 '₹188',
 '₹239',
 '₹271',
 '₹664',
 '₹179',
 '₹186',
 '₹181',
 '₹242',
 '₹579',
 '₹190',
 '₹399',
 '₹449',
 '₹299',
 '₹549',
 '₹171',
 '₹213',
 '₹309',
 '₹269',
 '₹225',
 '₹759',
 '₹265',
 '₹299',
 '₹259',
 '₹569',
 '₹230',
 '₹269',
 '₹276',
 '₹1,533',
 '₹203',
 '₹149',
 '₹180',
 '₹664']

In [35]:
# Finally create a dataframe of the scraped data
len(Brand_names),len(Product_Descriptions),len(Prices)

(40, 40, 40)

In [40]:
sunglasses=pd.DataFrame()
sunglasses['Brand_names']=Brand_names
sunglasses['Product_Descriptions']=Product_Descriptions
sunglasses['Prices']=Prices

In [39]:
sunglasses.head(40)

,Brand_names,Product_Descriptions,Prices
0,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹348
1,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
2,Elligator,UV Protection Round Sunglasses (54),₹248
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
5,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243
6,PIRASO,UV Protection Aviator Sunglasses (54),₹200
7,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹264
8,SRPM,UV Protection Wayfarer Sunglasses (50),₹188
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹239
10,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
11,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
12,Elligator,UV Protection Round Sunglasses (53),₹179
13,kingsunglasses,UV Protection Round Sunglasses (54),₹186
14,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
15,Silver Kartz,UV Protection Aviator Sunglasses (88),₹242
16,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹579
17,PIRASO,UV Protection Aviator Sunglasses (54),₹190
18,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
19,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449
20,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
21,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹549
22,PIRASO,UV Protection Wayfarer Sunglasses (32),₹171
23,PIRASO,UV Protection Aviator Sunglasses (55),₹213
24,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
25,GANSTA,UV Protection Aviator Sunglasses (57),₹269
26,PIRASO,UV Protection Aviator Sunglasses (54),₹225
27,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹759
28,Elligator,UV Protection Round Sunglasses (54),₹265
29,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
30,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹259
31,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹569
32,Elligator,UV Protection Round Sunglasses (50),₹230
33,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹269
34,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹276
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,533"
36,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹203
37,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹149
38,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹180
39,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹664

#### Q5:Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
    1.Rating
    2.Review summary
    3.Full review
    4.You have to scrape this data for first 100 reviews.

In [4]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [6]:
driver=webdriver.Chrome('chromedriver.exe')

In [7]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-  adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC  TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [8]:
# Here extract all web elements having Brand_Rating:
Brand_Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(Brand_Rating)

10

In [9]:
Brand_Ratings=[]

for i in Brand_Rating:
    Brand_Ratings.append(i.text)
len(Brand_Ratings)

10

In [10]:
Brand_Ratings

['5', '5', '5', '', '', '', '', '', '', '']

In [12]:
# Here extract all web elements having Review summary:
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Review_summary)

10

In [13]:
Review_summarys=[]

for i in Review_summary:
    Review_summarys.append(i.text)
len(Review_summary)

10

In [14]:
Review_summarys

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [15]:
# Here extract all web elements having Full review:
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(Full_review)

10

In [16]:
Full_reviews=[]

for i in Full_review:
    Full_reviews.append(i.text)
len(Full_review)

10

In [17]:
Full_reviews

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [18]:
# Finally create a dataframe of the scraped data
len(Brand_Ratings),len(Review_summarys),len(Full_reviews)

(10, 10, 10)

In [19]:
iphone11 =pd.DataFrame()
iphone11 ['Brand_Ratings']=Brand_Ratings
iphone11 ['Review_summarys']=Review_summarys
iphone11 ['Full_reviews']=Full_reviews

In [21]:
iphone11.head(10)

,Brand_Ratings,Review_summarys,Full_reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

####  Q6:Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
    1.Brand
    2.Product Description
    3.Price
    4.discount

In [22]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [23]:
# first connect to web driver
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [24]:
driver=webdriver.Chrome('chromedriver.exe')

In [25]:
url='https://www.flipkart.com/'
driver.get(url)

In [26]:
# finding web element for search Brand bar using class name
Brand=driver.find_element_by_class_name('_3704LK')
Brand

In [27]:
Brand.send_keys('sneakers')

In [28]:
# clicking using class name function clicking for search bar
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn

In [30]:
search_btn.click()

In [31]:
# Here extract all web elements having Brand_name:
Brand_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand_name)

40

In [32]:
Brand_names=[]

for i in Brand_name:
    Brand_names.append(i.text)
len(Brand_names)

40

In [33]:
Brand_names

['ASTEROID',
 'India hub',
 'BRUTON',
 'Chevit',
 'Labbin',
 'CLYMB',
 'World Wear Footwear',
 'be.Yond',
 'BRUTON',
 'SCATCHITE',
 'luxury fashion',
 'WIN9',
 'SWIGGY',
 'Shoes Bank',
 'Chevit',
 'Anjum',
 'Numenzo',
 'RapidBox',
 'World Wear Footwear',
 'Anjum',
 'BIRDE',
 'Magnolia',
 'Rzisbo',
 'Anjum',
 'Kraasa',
 'Kraasa',
 'aadi',
 'WIN9',
 'Noztile',
 'ASTEROID',
 'Chevit',
 'WOODLAND',
 'ASTEROID',
 'CLYMB',
 'Xtoon',
 'India hub',
 'Robbie jones',
 'CLYMB',
 'BRUTON',
 'Furo']

In [40]:
# Here extract all web elements having price :
Brand_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(Brand_price)

40

In [42]:
Brand_prices=[]

for i in Brand_price:
    Brand_prices.append(i.text)
len(Brand_prices)

40

In [43]:
Brand_prices

['₹499',
 '₹429',
 '₹625',
 '₹536',
 '₹474',
 '₹249',
 '₹199',
 '₹575',
 '₹299',
 '₹377',
 '₹449',
 '₹664',
 '₹199',
 '₹398',
 '₹447',
 '₹649',
 '₹474',
 '₹680',
 '₹249',
 '₹650',
 '₹299',
 '₹398',
 '₹549',
 '₹650',
 '₹444',
 '₹444',
 '₹319',
 '₹699',
 '₹429',
 '₹474',
 '₹259',
 '₹1,109',
 '₹474',
 '₹699',
 '₹499',
 '₹429',
 '₹499',
 '₹249',
 '₹299',
 '₹1,195']

In [72]:
# Here extract all web elements having price_ discount :
price_discout=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(price_discout)

40

In [73]:
price_discountes=[]

for i in price_discout:
    price_discountes.append(i.text)
len(price_discountes)

40

In [74]:
price_discountes

['75% off',
 '78% off',
 '82% off',
 '66% off',
 '52% off',
 '75% off',
 '60% off',
 '48% off',
 '76% off',
 '62% off',
 '65% off',
 '74% off',
 '60% off',
 '60% off',
 '75% off',
 '40% off',
 '76% off',
 '31% off',
 '50% off',
 '40% off',
 '40% off',
 '60% off',
 '45% off',
 '40% off',
 '55% off',
 '55% off',
 '84% off',
 '76% off',
 '78% off',
 '76% off',
 '67% off',
 '44% off',
 '52% off',
 '53% off',
 '66% off',
 '85% off',
 '50% off',
 '75% off',
 '76% off',
 '7% off']

In [56]:
# Here extract all web elements having Product Description:
Product_Descri=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')                # ('//a[@class="IRpwTa"]')
len(Product_Descri)

30

In [57]:
# Here extract all web elements having Product Description:
Product_Descri1=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')                # ('//a[@class="IRpwTa"]')
len(Product_Descri1)

10

In [67]:
Product_Descriptions=[]

for i in Product_Descri+Product_Descri1:
    Product_Descriptions.append(i.text)
    
len(Product_Descriptions)

40

In [69]:
Product_Descriptions

['ColorBlock Stylish Fashion Sneakers Classic Flat Casual...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'SWIGGY Casual, Lace Up, Sneaker, canvas, Top rated, Lig...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 '411 Casual Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Clymb Training & Gym Shoes For Men Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Casual|Light Weight|Comfortable| Sneakers For Men',
 'Sneakers For Men',
 'Fancy mens shoes For running ,walking,sports shoes Snea...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fancy mens shoes For running ,walking,sports shoes Snea...',
 'Sneakers For Men',
 'Fancy mens shoes For running ,walking,sports shoes Snea...',
 'WINC-5-black Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men']

In [62]:
# Finally create a dataframe of the scraped data
len(Brand_names),len(Product_Descriptions),len(Brand_prices),len(price_discountes)

(40, 40, 40, 40)

In [75]:
sneakers =pd.DataFrame()
sneakers ['Brand_names']=Brand_names
sneakers ['Product_Descriptions']=Product_Descriptions
sneakers ['Brand_prices']=Brand_prices
sneakers ['price_discountes']=price_discountes

In [76]:
sneakers.head(40)

,Brand_names,Product_Descriptions,Brand_prices,price_discountes
0,ASTEROID,ColorBlock Stylish Fashion Sneakers Classic Fl...,₹499,75% off
1,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹429,78% off
2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹625,82% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
4,Labbin,Sneakers For Men,₹474,52% off
5,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹249,75% off
6,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹199,60% off
7,be.Yond,Modern Trendy Shoes Sneakers For Men,₹575,48% off
8,BRUTON,Sneakers Sneakers For Men,₹299,76% off
9,SCATCHITE,Sneakers For Men,₹377,62% off
10,luxury fashion,"SWIGGY Casual, Lace Up, Sneaker, canvas, Top r...",₹449,65% off
11,WIN9,White Sneaker For Men's/Boy's Sneakers For Men,₹664,74% off
12,SWIGGY,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹199,60% off
13,Shoes Bank,411 Casual Sneakers For Men,₹398,60% off
14,Chevit,Sports Running Shoes Sneakers For Men,₹447,75% off
15,Anjum,Sneakers For Men,₹649,40% off
16,Numenzo,Series 7 Sneakers For Men,₹474,76% off
17,RapidBox,Shark-41 Sneakers For Men,₹680,31% off
18,World Wear Footwear,Sneakers For Men,₹249,50% off
19,Anjum,Sneakers For Men,₹650,40% off
20,BIRDE,Original Luxury Branded Fashionable Men's Casu...,₹299,40% off
21,Magnolia,Sneakers For Men,₹398,60% off
22,Rzisbo,Original Luxury Branded Fashionable Men's Casu...,₹549,45% off
23,Anjum,Sneakers For Men,₹650,40% off
24,Kraasa,"white Casual shoes,Sneakers for men's Sneakers...",₹444,55% off
25,Kraasa,Sneakers For Men,₹444,55% off
26,aadi,Sneakers For Men,₹319,84% off
27,WIN9,Clymb Training & Gym Shoes For Men Sneakers Fo...,₹699,76% off
28,Noztile,Lattest Sneakers Shoe Sneakers For Men,₹429,78% off
29,ASTEROID,Sneakers For Men,₹474,76% off
30,Chevit,Casual|Light Weight|Comfortable| Sneakers For Men,₹259,67% off
31,WOODLAND,Sneakers For Men,"₹1,109",44% off
32,ASTEROID,"Fancy mens shoes For running ,walking,sports s...",₹474,52% off
33,CLYMB,Sneakers For Men,₹699,53% off
34,Xtoon,Sneakers For Men,₹499,66% off
35,India hub,"Fancy mens shoes For running ,walking,sports s...",₹429,85% off
36,Robbie jones,Sneakers For Men,₹499,50% off
37,CLYMB,"Fancy mens shoes For running ,walking,sports s...",₹249,75% off
38,BRUTON,WINC-5-black Sneakers For Men,₹299,76% off
39,Furo,516 Trendy Star Perfect Sneakers For Men,"₹1,195",7% off

#### Q7:Go to the link - https://www.myntra.com/shoes
    Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, 
    1.Brand of the shoe 
    2.Shoe description
    3.price of the shoe

In [10]:
import selenium
import pandas as pd
from selenium import webdriver as wb
import warnings
warnings.filterwarnings('ignore')

In [11]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [12]:
driver=webdriver.Chrome('chromedriver.exe')

In [13]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [14]:
#finding web element for shoe color_check
color_check=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [15]:
color_check.click()

In [16]:
#finding web element for shoe price_check
price_check=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

In [17]:
price_check.click()

In [25]:
# Here extract all web elements having Brand of the shoe:
shoe_brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(shoe_brand)

50

In [44]:
shoe_brands=[]

for i in shoe_brand:
    shoe_brands.append(i.text)
len(shoe_brands)

50

In [45]:
shoe_brands

['Nike',
 'Nike',
 'ALDO',
 'Tommy Hilfiger',
 'Puma',
 'Nike',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'PUMA Motorsport',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'New Balance',
 'RARE RABBIT',
 'Puma',
 'Puma',
 'Skechers',
 'Tommy Hilfiger',
 'New Balance',
 'Hush Puppies',
 'Skechers',
 'Hush Puppies',
 'RARE RABBIT',
 'Puma',
 'New Balance',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Hush Puppies',
 'Clarks',
 'Xtep',
 'Saint G',
 'Hush Puppies',
 'Saint G',
 'Saint G',
 'ASICS',
 'Geox',
 'J.FONTINI',
 'Bugatti',
 'Heel & Buckle London',
 'Hush Puppies',
 'J.FONTINI',
 'DAVINCHI',
 'Saint G',
 'Tommy Hilfiger',
 'Bugatti',
 'Geox',
 'Columbia',
 'Clarks']

In [39]:
shoe_brands=[]

for i in shoe_brand:
    shoe_brands.append(i.text)
len(shoe_brands)

50

In [23]:
# Here extract all web elements having shoe_Descriptions
shoe_Description=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(shoe_Description)

50

In [144]:
shoe_Descriptions=[]

for i in shoe_Description:
    shoe_Descriptions.append(i.text)
    len(shoe_Descriptions)

In [145]:
shoe_Descriptions

['Men AIR ZOOM PEGASUS 38',
 'Men Leather Sneakers',
 'Men Magnify Nitro Running',
 'Men Leather Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Textured Loafers',
 'Men Leather Sneakers',
 'Men Deviate Nitro Running Shoe',
 'Men Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Training or Gym Shoes',
 'Women Magnify Nitro Shoes',
 'Men Jamming 2.0 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Leather Sandals',
 'Men Astroride Forever Running',
 'Men Solid Formal Slip-Ons',
 'Women Eternity NITRO Shoes',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Men Leather Formal Loafers',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Black Leather Loafers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Leather Chelsea Boots',
 'Ustraa black',
 'Men Solid Leather Formal Derbys',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Men Leather Formal Derbys',
 'Women Leather Penny Loafers',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Driving Shoes',
 'Men Leather Flat Boots',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Suede High-Top Flatform Heeled Boots',
 'Men Solid Leather Formal Brogues',
 'Men Leather Driving Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men Black Walking Shoes',
 'NEWTON RIDGE PLUS II WATERPROOF',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Women Woven Running Shoes',
 'Men Solid Loafers',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe']

In [154]:
shoe_price=driver.find_elements_by_xpath('//div[@class="product-price"]')
len(shoe_price)

50

In [155]:
shoe_prices=[]

for i in shoe_price:
    shoe_prices.append(i.text)
len(shoe_prices)

50

In [158]:
shoe_prices

['Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7999',
 'Rs. 7495',
 'Rs. 8599',
 'Rs. 7999',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 12999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 7599',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7499',
 'Rs. 7699',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10710Rs. 11900(Rs. 1190 OFF)',
 'Rs. 8990',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 11473Rs. 14900(23% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 7999',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 11475Rs. 13500(15% OFF)',
 'Rs. 7999',
 'Rs. 9499',
 'Rs. 12999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8499',
 'Rs. 7990',
 'Rs. 8490',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 9999']

In [159]:
# Finally create a dataframe of the scraped data
len(shoe_brands),len(shoe_Descriptions),len(shoe_prices)

(50, 50, 50)

In [160]:
Shoe=pd.DataFrame()
Shoe['shoe_brands']=shoe_brands
Shoe['shoe_Descriptions']=shoe_Descriptions
Shoe['shoe_prices']=shoe_prices

In [162]:
Shoe.head(50)

,shoe_brands,shoe_Descriptions,shoe_prices
0,Nike,Men AIR ZOOM PEGASUS 38,Rs. 9770Rs. 11495(15% OFF)
1,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
2,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
3,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
4,Nike,Men Blazer Court Skateboarding,Rs. 7495
5,Tommy Hilfiger,Men Textured Loafers,Rs. 8599
6,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
7,Puma,Men Deviate Nitro Running Shoe,Rs. 9749Rs. 14999(35% OFF)
8,Puma,Men Running Shoes,Rs. 9749Rs. 12999(25% OFF)
9,RARE RABBIT,Men Leather Slip-On Sneakers,Rs. 7999
10,Puma,Men Training or Gym Shoes,Rs. 7999
11,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
12,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
13,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
14,Tommy Hilfiger,Leather Sandals,Rs. 7599
15,Reebok,Men Astroride Forever Running,Rs. 7199Rs. 7999(10% OFF)
16,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
17,Puma,Women Eternity NITRO Shoes,Rs. 12999
18,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
19,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
20,Hush Puppies,Men Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
21,Clarks,Men Leather Formal Loafers,Rs. 7499
22,Xtep,Men Running Shoes,Rs. 7699
23,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
24,J.FONTINI,Men Black Leather Loafers,Rs. 8490
25,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
26,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(Rs. 1190 OFF)
27,DAVINCHI,Ustraa black,Rs. 8990
28,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
29,Saint G,Women Leather Heeled Boots,Rs. 11473Rs. 14900(23% OFF)
30,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
31,Clarks,Men Leather Formal Derbys,Rs. 7999
32,MANGO,Women Leather Penny Loafers,Rs. 7191Rs. 7990(10% OFF)
33,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
34,Geox,Men Leather Driving Shoes,Rs. 9999
35,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
36,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
37,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
38,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
39,Clarks,Men Solid Leather Formal Brogues,Rs. 7999
40,Geox,Men Leather Driving Shoes,Rs. 9499
41,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
42,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
43,Columbia,NEWTON RIDGE PLUS II WATERPROOF,Rs. 8499
44,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
45,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
46,New Balance,Women Woven Running Shoes,Rs. 7799Rs. 12999(40% OFF)
47,J.FONTINI,Men Solid Loafers,Rs. 8990
48,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
49,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999

#### Q8:Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon,
         Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
    1.Title
    2.Ratings
    3.Price

In [163]:
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [164]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [165]:
driver=webdriver.Chrome('chromedriver.exe')

In [166]:
url=' https://www.amazon.in/'
driver.get(url)

In [167]:
# finding web element for search laptop bar using class name 
Brand=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Brand

In [168]:
Brand.send_keys('laptop')

In [169]:
# finding web element for search class name:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [170]:
search_btn.click()

In [174]:
# finding web element for click type:
type=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')

In [175]:
type.click()

In [181]:
# Here extract all web elements having laptop of title:
laptop_Title=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(laptop_Title)

30

In [184]:
laptop_Titles=[]

for i in laptop_Title:
    laptop_Titles.append(i.text)
len(laptop_Titles)

30

In [187]:
laptop_Titles

['Dell 15 (2021) Intel i7-10870H Gaming Laptop, 16GB DDR4, 512GB SSD, Windows 10 + MS Office, NVIDIA RTX 3050 Ti 4GB, 15.6 inches FHD AG 250 nits 120Hz, Backlit KB Orange (G15 5510, D560534WIN9B), 2.4kg',
 'Dell 13 (2021) i7-1165G7, 16GB, 512Gb SSD, Win 10 + MS Office\'19, Integrated Graphics, 13.3" (33.78 cms) FHD Display, Platinum Silver Color, FPR + Backlit KB (XPS 9305, ICC-C786501WIN8)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'HP Pavilion x360 11th Gen Intel Core i7-16GB RAM/512GB SSD 14-inch(35.6 cm) FHD, IPS, Convertible Laptop (B&O/Win 11/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6 inches FHD 144Hz Gaming Laptop (8GB/512GB SSD/Windows 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PM-HN175TS',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/500GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'HP Pavilion Gaming 11th Gen Intel Core i7 Processor 39.62 cm(15.6-inch) FHD Gaming Laptop (16GB/512GB SSD/Win 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23 Kg), 15-dk2096TX',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14" (35.56cm)QHD IPS Thin & Light Laptop(16GB/512GB SSD/Iris Xe Graphics/3Yr Warranty/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'LG Gram 14 Intel Evo 11th Gen Core i7 14 inches Ultralight Laptop (16 GB RAM, 512 GB SSD, Windows 10, Iris Xe Graphics Thunderbolt 4, USC -Cx2 (with Power), 0.999kg, 14Z90P, Black)',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'LG Gram 16 Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, Win-10, Iris Xe Graphics, 16-inches (40.64 cms), Thunderbolt 4, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P, Black)',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch (39.62 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Silver/1.8 Kg) K513EA-L712WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS',
 'MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Acer Swift 5 Intel EVO Premium Thin and Light Laptop|14" Full HD IPS Touch Display |11th Gen Intel Core i7-1165G7 Processor |16GB LPDDR4X | 1TB SSD |Backlit Keyboard | Win 11| MSO 2021 |, Green, Large',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (32 GB/1TB SSD/Win 11 Home/8 GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3 kg) PH315-54',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch (39.62 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Silver/1.8 Kg) K513EA-L712WS',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'Dell 14 (2021) Intel i7-1195G7 14.0 inches FHD Display 2in1 Touch Screen Laptop (16GB/512GB SSD/Windows 10 + MS Office Backlit KB, FPR + Active Pen/Platinum Silver, Inspiron 5410, D560596WIN9S), 1.5kg',
 'HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/RTX 3050 4GB Graphics/144 Hz/B&O/Win 10/MS Office/2.23Kg), 15-dk2076TX, Black',
 '(Renewed) Dell Intel Core i7 6th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (12GB RAM /1TB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7470',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 '(Renewed) Lenovo Thinkpad Hybrid Laptop T450s (Slim) Intel Core i7 - 5600u Processor, 12 GB Ram, 1TB Harddisk & 256 GB ssd, Windows 10 Pro, 14.1 Inches Notebook Computer',
 'HP Pavilion x360 11th Gen Intel Core i7-16GB RAM/512GB SSD 14-inch(35.6 cm) FHD, IPS, Convertible Laptop (B&O/Win 11/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN']

In [188]:
# Here extract all web elements having laptop of price :
laptop_price=driver.find_elements_by_xpath('//span[@class="a-price"]')
len(laptop_price)

30

In [189]:
laptop_prices=[]

for i in laptop_price:
    laptop_prices.append(i.text)
len(laptop_prices)

30

In [190]:
laptop_prices

['₹1,21,188',
 '₹1,32,010',
 '₹59,990',
 '₹96,990',
 '₹86,490',
 '₹65,990',
 '₹1,09,990',
 '₹89,990',
 '₹34,899',
 '₹84,990',
 '₹98,180',
 '₹81,990',
 '₹1,00,699',
 '₹99,499',
 '₹93,999',
 '₹82,990',
 '₹89,990',
 '₹1,28,990',
 '₹70,000',
 '₹99,990',
 '₹1,79,990',
 '₹82,990',
 '₹44,990',
 '₹94,502',
 '₹97,490',
 '₹55,999',
 '₹88,990',
 '₹39,990',
 '₹86,490',
 '₹70,000']

In [209]:
# Here extract all web elements having laptop of rating :
laptop_Rating=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
len(laptop_Rating)

25

In [227]:
laptop_Ratings=[]

for i in laptop_Rating:
    laptop_Ratings.append(i.text)
len(laptop_Ratings)

25

In [231]:
laptop_Ratings

['12',
 '10',
 '18',
 '56',
 '647',
 '46',
 '36',
 '6',
 '36',
 '1',
 '2',
 '70',
 '122',
 '70',
 '2',
 '59',
 '55',
 '64',
 '4',
 '11',
 '2',
 '158',
 '19',
 '56',
 '55']

In [196]:
# Finally create a dataframe of the scraped data
len(laptop_Titles),len(laptop_prices),len(laptop_Ratings)

(30, 30, 25)

In [232]:
laptop=pd.DataFrame()
laptop['laptop_Titles']=laptop_Titles
laptop['laptop_prices']=laptop_prices
# laptop['laptop_Ratings']=laptop_Ratings
laptop.head(10)

                                       laptop_Titles laptop_prices
0  Dell 15 (2021) Intel i7-10870H Gaming Laptop, ...     ₹1,21,188
1  Dell 13 (2021) i7-1165G7, 16GB, 512Gb SSD, Win...     ₹1,32,010
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...       ₹59,990
3  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...       ₹96,990
4  HP Pavilion x360 11th Gen Intel Core i7-16GB R...       ₹86,490
5  Acer Nitro 5 11th Gen Intel Core i5-11400H 15....       ₹65,990
6  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...     ₹1,09,990
7  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....       ₹89,990
8  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...       ₹34,899
9  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...       ₹84,990

#### Q10:Write a python program to scrape from https ://www.ambitionbox.com/ the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [46]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [47]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [48]:
driver=webdriver.Chrome('chromedriver.exe')

In [49]:
url="https://www.ambitionbox.com"
driver.get(url)

In [50]:
# finding web element for search job bar using class name
job_title=driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/span/input")

In [51]:
job_title.send_keys('Data Scientist')

In [52]:
# clicking using class name function
search_btn=driver.find_element_by_class_name('search-button')
search_btn

In [53]:
search_btn.click()

In [57]:
salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")

In [58]:
salary.click()

In [60]:
# Here extract all web elements having company names
company_name=driver.find_elements_by_xpath('//div[@class="name"]')
len(company_name)

10

In [63]:
company_names=[]

for i in company_name:
    company_names.append(i.text)
len(company_names)

10

In [62]:
company_names

['Tekion\nbased on 10 salaries',
 'Microsoft Corporation\nbased on 227 salaries',
 'Goldman Sachs\nbased on 12 salaries',
 'Flipkart\nbased on 53 salaries',
 'PayPal\nbased on 22 salaries',
 'Amazon\nbased on 89 salaries',
 'Servicenow Software Development India\nbased on 41 salaries',
 'Arcesium\nbased on 48 salaries',
 'Walmart\nbased on 82 salaries',
 'ServiceNow\nbased on 18 salaries']

In [64]:
# Here extract all web elements having experience required
experience_required=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(experience_required)

10

In [65]:
experience_requireds=[]

for i in experience_required:
    experience_requireds.append(i.text)
len(experience_requireds)

10

In [66]:
experience_requireds

['Software Engineer\n . \n4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n3 yrs exp']

In [67]:
# Here extract all web elements having total salary record
total_salary_record=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]')
len(total_salary_record)

10

In [68]:
total_salary_records=[]

for i in total_salary_record:
    total_salary_records.append(i.text)
len(total_salary_records)

10

In [69]:
total_salary_records

['₹ 23.3L',
 '₹ 23.1L',
 '₹ 22.1L',
 '₹ 20.9L',
 '₹ 20.0L',
 '₹ 19.3L',
 '₹ 19.0L',
 '₹ 18.4L',
 '₹ 18.0L',
 '₹ 17.3L']

In [76]:
# Here extract all web elements having total salary record
Max_Min_salary_record=driver.find_elements_by_xpath('//div[@class="salary-values"]')
len(Max_Min_salary_record)

10

In [78]:
Max_Min_salary_records=[]

for i in Max_Min_salary_record:
    Max_Min_salary_records.append(i.text)
len(Max_Min_salary_records)

10

In [79]:
Max_Min_salary_records

['₹ 14.0L\n₹ 32.0L',
 '₹ 13.0L\n₹ 45.0L',
 '₹ 16.0L\n₹ 30.0L',
 '₹ 7.5L\n₹ 30.0L',
 '₹ 12.0L\n₹ 28.4L',
 '₹ 8.0L\n₹ 41.5L',
 '₹ 12.0L\n₹ 25.8L',
 '₹ 12.0L\n₹ 30.0L',
 '₹ 10.0L\n₹ 32.0L',
 '₹ 11.0L\n₹ 23.0L']

In [80]:
# Finally create a dataframe of the scraped data
len(company_names),len(experience_requireds),len(total_salary_records),len(Max_Min_salary_records)

(10, 10, 10, 10)

In [81]:
Ambitionbox=pd.DataFrame()
Ambitionbox['company_names']=company_names
Ambitionbox['experience_requireds']=experience_requireds
Ambitionbox['total_salary_records']=total_salary_records
Ambitionbox['Max_Min_salary_records']=Max_Min_salary_records

In [83]:
Ambitionbox.head(10)

,company_names,experience_requireds,total_salary_records,Max_Min_salary_records
0,Tekion\nbased on 10 salaries,Software Engineer\n . \n4 yrs exp,₹ 23.3L,₹ 14.0L\n₹ 32.0L
1,Microsoft Corporation\nbased on 227 salaries,Software Engineer\n . \n1-4 yrs exp,₹ 23.1L,₹ 13.0L\n₹ 45.0L
2,Goldman Sachs\nbased on 12 salaries,Software Engineer\n . \n2 yrs exp,₹ 22.1L,₹ 16.0L\n₹ 30.0L
3,Flipkart\nbased on 53 salaries,Software Engineer\n . \n1-4 yrs exp,₹ 20.9L,₹ 7.5L\n₹ 30.0L
4,PayPal\nbased on 22 salaries,Software Engineer\n . \n1-2 yrs exp,₹ 20.0L,₹ 12.0L\n₹ 28.4L
5,Amazon\nbased on 89 salaries,Software Engineer\n . \n1-4 yrs exp,₹ 19.3L,₹ 8.0L\n₹ 41.5L
6,Servicenow Software Development India\nbased o...,Software Engineer\n . \n2-4 yrs exp,₹ 19.0L,₹ 12.0L\n₹ 25.8L
7,Arcesium\nbased on 48 salaries,Software Engineer\n . \n1-2 yrs exp,₹ 18.4L,₹ 12.0L\n₹ 30.0L
8,Walmart\nbased on 82 salaries,Software Engineer\n . \n1-4 yrs exp,₹ 18.0L,₹ 10.0L\n₹ 32.0L
9,ServiceNow\nbased on 18 salaries,Software Engineer\n . \n3 yrs exp,₹ 17.3L,₹ 11.0L\n₹ 23.0L

##### Q9:Write a python program to scrape data from  https://www.ambitionbox.com/ for first 10 job results for Data Scientist Designation in Noida location
       1.company name
       2.No.of days ago when job was posted
    3.Rating of the company.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r'c:\Users\Bawla Singh.DESKTOP-KT1PI9D\Desktop\chromedriver.exe')

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
url="https://www.ambitionbox.com"
driver.get(url)

In [5]:
# finding web element for search job bar using class name
job_title=driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/span/input")

In [6]:
job_title.send_keys('Data Scientist')

In [7]:
# clicking using class name function
search_btn=driver.find_element_by_class_name('search-button')
search_btn

In [8]:
search_btn.click()

In [9]:
locn=driver.find_element_by_xpath('/html/body/section[1]/div/section/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a/b')
locn

In [10]:
# finding web element for job location bar
locn.click()

In [16]:
location=driver.find_element_by_class_name('/html/body/div/div/div/div[2]/div[3]/div[1]/div/div')
location

InvalidSelectorException: Message: invalid selector: An invalid or illegal selector was specified
  (Session info: chrome=98.0.4758.82)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F97AC3+2587331]
	Ordinal0 [0x00F2ADD1+2141649]
	Ordinal0 [0x00E23BB8+1063864]
	Ordinal0 [0x00E263D7+1074135]
	Ordinal0 [0x00E2629E+1073822]
	Ordinal0 [0x00E26510+1074448]
	Ordinal0 [0x00E4FF42+1244994]
	Ordinal0 [0x00E503CB+1246155]
	Ordinal0 [0x00E7A612+1418770]
	Ordinal0 [0x00E686D4+1345236]
	Ordinal0 [0x00E78A0A+1411594]
	Ordinal0 [0x00E684A6+1344678]
	Ordinal0 [0x00E453F6+1201142]
	Ordinal0 [0x00E462E6+1204966]
	GetHandleVerifier [0x0113DF22+1680738]
	GetHandleVerifier [0x011F0DBC+2413564]
	GetHandleVerifier [0x0102D151+563089]
	GetHandleVerifier [0x0102BF13+558419]
	Ordinal0 [0x00F3081E+2164766]
	Ordinal0 [0x00F35508+2184456]
	Ordinal0 [0x00F35650+2184784]
	Ordinal0 [0x00F3F5BC+2225596]
	BaseThreadInitThunk [0x772D6359+25]
	RtlGetAppContainerNamedObjectPath [0x77A087A4+228]
	RtlGetAppContainerNamedObjectPath [0x77A08774+180]

In [ ]:
location.click()